body {
    cursor: none;
}

.cursor {
    position: fixed;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
}

.main-circle {
    width: 15px;
    height: 15px;
    background-color: purple;
}

.trailing-circle {
    width: 30px;
    height: 30px;
    border: 2px solid rgba(128, 0, 128, 0.5);
    animation: wave 0.4s ease-out infinite alternate;
}

@keyframes wave {
    from {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }

    to {
        transform: translate(-50%, -50%) scale(1.3);
        opacity: 0.5;
    }
}